@import './_variables.scss';
.main {
   flex: 1 0 auto;
   padding: 8em 0 0 0;
   @media (max-width: ($tablet+px)) {
      padding: 3.3em 0 0;
   }
}

// Banner
.banner {
   position: relative;
   &__container {
      overflow: hidden;
      display: flex;
      flex-direction: column;
      gap: 8em 0;
      position: relative;
      padding-bottom: 3.7em;
      @media (max-width: ($tablet+px)) {
         gap: 5em 0;
      }
   }
   &__header {
      position: relative;
      z-index: 2;
      padding: 0 5.5em 0 0;
      h1 {
         font-weight: 400;
         font-size: (111/15) + rem;
         line-height: 7.5rem;
         color: $primary-shade;
         letter-spacing: 7px;
      }
      @media (max-width: ($largeTablet+px)) {
         h1 {
            font-size: 4rem;
            line-height: 100%;
         }
      }
      @media (max-width: ($tablet+px)) {
         padding-right: 0;
         h1 {
            font-size: 3rem;
            letter-spacing: 0;
         }
      }
   }
   &__description {
      z-index: 2;
      a {
         font-size: 1rem;
         padding: (20/15) + em (40/15) + em;
         background: $yellow;
         display: inline-block;
         letter-spacing: 0.45px;
         line-height: 24/15 * 100%;
         border-radius: 0.2em;
         font-family: 'Roboto', sans-serif;
         &.clicked {
            outline: 2px solid $yellow;
            background: #fff;
         }
      }
      h6 {
         width: 30%;
         font-family: 'Roboto', sans-serif;
         font-style: normal;
         font-weight: 400;
         font-size: 1rem;
         line-height: 24px;
         color: #70748c;
         margin: 0 0 2.4em 0;
      }
      @media (max-width: ($largeTablet+px)) {
         h6 {
            width: 60%;
         }
      }
      @media (max-width: ($tablet+px)) {
         h6 {
            width: 100%;
         }
      }
      @media (max-width: ($largePhone+px)) {
         a {
            padding: 1em 1.5em;
         }
      }
   }
   &__letterhead {
      max-width: 640px;
      width: 100%;
      box-shadow: 0px 14px 30px rgba(0, 0, 0, 0.15);
      border-radius: 220px;
      background: #fff;
      padding: (20/15) + em (50/15) + em;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      margin: 0 auto;
      z-index: 2;
      transform: translate(0, 50%);
      @include flex(center, space-between);
      gap: 0 5em;
      flex-wrap: nowrap;
      p {
         color: $blue;
         line-height: (24/16 * 100%);
      }
      a {
         display: block;
         background: #fff;
         color: $blue;
         outline: 1px solid $blue;
         padding: (10/15) + em (20/15) + em;
         font-size: 1rem;
         border-radius: 2rem;
         &.clicked {
            background: $blue;
            outline: 1px solid #fff;
            color: #fff;
         }
      }
      @media (max-width: ($tablet+px)) {
         gap: 0 1em;
      }
      @media (max-width: ($largePhone+px)) {
         gap: 1em 0;
         flex-direction: column;
         padding: 0.5em 3em;
         transform: translateY(75%);
         border-radius: 50px;
         p {
            text-align: center;
         }
         a {
            padding: 0.5em 1em;
         }
      }
   }
}
.decor {
   position: absolute;
   z-index: 1;
   @media (max-width: ($largeTablet+px)) {
      opacity: 0.6;
   }
}
#decor-1 {
   transform: rotate(180deg);
   left: 15%;
   top: -50%;
}
#decor-2 {
   right: 0;
   bottom: -50%;
   @media (max-width: ($tablet+px)) {
      display: none;
   }
}
#decor-3 {
   right: 0;
   left: 0;
   margin: 0 auto;
   bottom: -30%;
   @media (max-width: ($tablet+px)) {
      display: none;
   }
}

// Get